<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>African Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E9%BB%91%E8%84%9A%E4%BC%81%E9%B9%85" class="image featured" target="_blank">
                                                    <img src="images/a10_africa.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>黑腳企鵝<br>African Penguin</h3center>
												</header>    
												<h10>環企鵝屬 Spheniscus</h10><br>
												<h10>學名: Spheniscus demersus</h10><br>
												<h10>別名: 非洲企鵝、斑嘴環企鵝、公驢企鵝</h10><br>
												<h10>棲息地: 非洲西南岸</h10><br><br>
												<h10>黑腳企鵝在納米比亞至南非近伊莉莎白港的阿爾哥亞灣的24個島上都有群族，最大的位於戴爾島。於1980年代，可能由於掠食者的減少，黑腳企鵝群族擴展至近開普敦的博爾德斯海灘及貝蒂灣。另一個大陸群族是在納米比亞，但出現的時間則不明。由於在博爾德斯海灘的黑腳企鵝容許遊人的接近，所以當地吸引了很多遊客到來。黑腳企鵝的近親是在南美洲南部的漢波德企鵝及麥哲倫企鵝及近赤道太平洋的加拉帕戈斯企鵝。</h10><br><br>
												<h10>黑腳企鵝游泳速度平均每小時7公里，最高可達每小時20公里，潛入水中2分鐘。黑腳企鵝成群的生活，平均壽命10歲，最高紀錄可以達至24歲。2-6歲就會開始交配。雌鳥4歲時就達至性成熟，雄鳥則要5歲。</h10><br><br>
												<h10>黑腳企鵝以往又名公驢企鵝，這是由於牠們的叫聲像公驢。但是由於南美洲的幾種企鵝都有類似的叫聲，所以牠們又名非洲企鵝。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>