<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | Emperor</title>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Emperor Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/zh-tw/%E7%9A%87%E5%B8%9D%E4%BC%81%E9%B9%85" class="image featured" target="_blank">
                                                    <img src="images/a1_emperor.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>帝王企鵝<br>Emperor Penguin</h3center>
												</header>    
												<h10>王企鵝屬 Aptenodytes</h10><br>
												<h10>學名: Aptenodytes forsteri</h10><br>
												<h10>別名: 皇帝企鵝</h10><br>
												<h10>棲息地: 南極洲</h10><br><br>
												<h10>皇帝企鵝是企鵝家族中體型最大的屬種，成年皇帝企鵝身高可達120公分，體重可達46公斤。在皇帝企鵝發現之前，有一種企鵝被認為是最大的企鵝，取名為國王企鵝。後來，在南極大陸沿海皇帝企鵝被發現，由於它比國王企鵝還高大，因此命名為皇帝企鵝。</h10><br><br>
												<h10>皇帝企鵝主要以甲殼類動物為食，偶爾也捕食小魚和烏賊。它是唯一一種在南極洲的冬季進行繁殖的企鵝。在野生環境，皇帝企鵝壽命一般在10年左右，個別壽命可達20年。皇帝企鵝的主要天敵包括南極巨海燕、賊鷗、豹斑海豹、虎鯨和大白鯊。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>