<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Erect Crested Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://en.wikipedia.org/wiki/Erect-crested_penguin" class="image featured" target="_blank">
                                                    <img src="images/a15_erectcrested.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>冠毛企鵝<br>Erect Crested Penguin</h3center>
												</header>    
												<h10>冠企鵝屬 Eudyptes</h10><br>
												<h10>學名: Eudyptes sclateri</h10><br>
												<h10>別名: 豎毛企鵝</h10><br>
												<h10>棲息地: 紐西蘭</h10><br><br>
												<h10>冠毛企鵝的冠羽朝上，嘴巴根部有皮膚，冠毛企鵝有黑色的臉部，白色的身體和一個黃色的眼睛條紋和波峰。它在海上過冬，對其生物學和繁殖習性知之甚少。人群被認為在過去的幾十年二十世紀有所下降，和國際自然保護聯盟已將其列為被“瀕危”。</h10><br><br>
												<h10>冠毛企鵝身高 50-70 厘米（20-28 英寸），體重 2.5-6 公斤（5.5-13.2 磅）。雄性比雌性略大，與大多數冠企鵝一樣，它們的喙更大。它有藍黑色到烏黑的上半身和白色的下半身，還有一條寬而明亮的黃色眉毛條紋，延伸到眼睛上方，形成一個短而直立的嵴。雄性的平均體重為 6.38 公斤（14.1 磅）（樣本量 22），雌性的平均體重為 5.4 公斤（12 磅）（樣本量 22），直冠企鵝是最大的冠企鵝物種作為現存第四重的企鵝，平均體重幾乎與巴布亞企鵝一樣重。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>