<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | Fiordland</title>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Fiordland Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E5%B3%BD%E7%81%A3%E4%BC%81%E9%B5%9D" class="image featured" target="_blank">
                                                    <img src="images/a14_fiordland.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>福德蘭企鵝<br>Fiordland Penguin</h3center>
												</header>    
												<h10>王企鵝屬 Aptenodytes</h10><br>
												<h10>學名: 冠企鵝屬 Eudyptes</h10><br>
												<h10>別名: 峽灣企鵝、峽灣冠企鵝、毛利企鵝(Tawaki)、鳳冠企鵝、黃眉企鵝</h10><br>
												<h10>棲息地: 紐西蘭南島海岸</h10><br><br>
												<h10>峽灣企鵝的臉頰有白色紋路，於1845年由英國動物學家喬治·羅伯特·格雷描述。峽灣企鵝在企鵝界的體型大小算中等，成年時平均身高可長到60公分長，體重可到3.7公斤（8.2磅）。目前峽灣企鵝的數量並不算多，僅有2500～3000對企鵝，數量從80年代末期下降了約33％，並且按照歷史趨勢，這一數量仍可能繼續下降，主要是受到貓、狗、老鼠以及白鼬的威脅。</h10><br><br>
												<h10>峽灣企鵝體型中等，頭頂擁有黃色的鳳冠（冠企鵝屬成員的象徵），臉部、背部、手部和尾巴的毛色呈現黑色或藍灰色，腹部毛色則是白色。部分較年長的峽灣企鵝頭上的鳳冠毛會低垂至眼睛、脖子。該種的臉頰兩側平均會各有3～6條白色紋路。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>