<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Gentoo Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E5%B7%B4%E5%B8%83%E4%BA%9E%E4%BC%81%E9%B5%9D" class="image featured" target="_blank">
                                                    <img src="images/a5_gento.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>巴布亞企鵝<br>Gentoo Penguin</h3center>
												</header>    
												<h10>阿德利企鵝屬 Pygoscelis</h10><br>
												<h10>學名: Pygoscelis papua</h10><br>
												<h10>別名: 紳士企鵝、甘圖企鵝、金圖企鵝</h10><br>
												<h10>棲息地: 南極島嶼</h10><br><br>
												<h10>巴布亞企鵝是僅次於皇帝企鵝和國王企鵝的體型最大的企鵝物種。牠們是企鵝家族中最快速的泳手，游泳的時速可達36公里。巴布亞企鵝在英語中的「Gentoo」是源於葡萄牙文的「異教徒」（Gentio）一字，因為其頭部有白色帶狀類似頭巾的花紋；而中文名稱巴布亞源自種名papua，因巴布亞企鵝命名時曾被誤以為源自巴布亞新幾內亞。</h10><br><br>
												<h10>雄性的巴布亞企鵝在換毛前最多可重達8.5公斤，交配前體重下限約5.5公斤。雌性巴布亞企鵝在換毛前則最多重約7.5公斤，但在孵出幼企鵝之後，牠們日以繼夜的看守著巢，體重亦隨之降至5公斤或以下。巴布亞企鵝有一個明顯的特徵，就是牠們的頭頂有一條寬闊的白色條紋。幼企鵝背部呈灰色，腹部呈白色。成年的巴布亞企鵝高75至90公分。眼睛上方有一個明顯的白斑，嘴細長，嘴角呈紅色，眼角處有一個紅色的三角形，顯得眉清目秀。因其模樣憨態有趣，有如紳士一般，十分可愛，因而俗稱「紳士企鵝」。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>