<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | Macaroni</title>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Macaroni Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E9%A6%AC%E5%8F%AF%E7%BE%85%E5%B0%BC%E4%BC%81%E9%B5%9D" class="image featured" target="_blank">
                                                    <img src="images/a7_macaroni.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>馬可羅尼企鵝<br>Macaroni Penguin</h3center>
												</header>    
												<h10>冠企鵝屬 Eudyptes</h10><br>
												<h10>學名: Eudyptes chrysolophus</h10><br>
												<h10>別名: 長冠企鵝、通心麵企鵝</h10><br>
												<h10>棲息地: 南極半島、亞南極區</h10><br><br>
												<h10>馬可羅尼企鵝的眉毛是連在一起的，馬卡羅尼企鵝與皇家企鵝親緣最近，馬卡羅尼企鵝是世界上數量最多的企鵝，當前共有2400萬隻。成年馬卡羅尼企鵝身高約71厘米，重約5-6千克。馬卡羅尼企鵝1837年由德國自然科學家約翰·弗里德里希·馮·勃蘭特（Johann Friedrich von Brandt）命名，它的學名「chrysolophus'」取自古希臘語，為「金色頭冠」之意，這是因為馬卡羅尼企鵝頭頂上有一束標誌性的金色羽毛。</h10><br><br>
												<h10>「馬卡羅尼」音譯自於英文通用名「Macaroni」，這種英文叫法源自於英國探險家，因為在發現馬卡羅尼企鵝的18世紀，該詞泛指一群崇尚義大利文化、生活奢侈、打扮時髦的英國花花公子，很可能是馬卡羅尼頭頂上那束顯著的金色羽毛與這些花花公子的髮型十分相似，因此也得到了同樣的名稱。</h10><br><br>
												<h10>馬卡羅尼企鵝又有「通心麵企鵝」的名稱，其實馬卡羅尼企鵝與食物通心麵沒有任何直接的聯繫，只是英文名Macaroni一詞，最常用的中文翻譯乃是通心麵一詞，起初很可能是誤譯的緣故，而今在中文世界，通心麵企鵝也已廣為流傳。</h10><br><br>
												<h10>馬卡羅尼企鵝的另一個名稱「長冠企鵝」，同樣是根據它們的顯著特徵——頭頂的長長的金色羽毛而來。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-penguin-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>