<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | Magellanic</title>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Magellanic Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E9%BA%A6%E5%93%B2%E4%BC%A6%E4%BC%81%E9%B9%85" class="image featured" target="_blank">
                                                    <img src="images/a17_magellanic.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>麥哲倫企鵝<br>Magellanic Penguin</h3center>
												</header>    
												<h10>環企鵝屬 Spheniscus</h10><br>
												<h10>學名: Spheniscus magellanicus</h10><br>
												<h10>別名: 麥氏環企鵝</h10><br>
												<h10>棲息地: 南美洲阿根廷、智利、福克蘭群島沿海、巴西</h10><br><br>
												<h10>麥哲倫企鵝是溫帶企鵝中最大的一個種類，它是環企鵝屬中數量最多的一種，與同屬中與非洲企鵝、洪氏環企鵝和加拉巴哥斯企鵝親緣很近。麥氏環企鵝的名字來自著名的航海家麥哲倫，麥哲倫1519年第一次環南美洲大陸航行時發現了這種企鵝。</h10><br><br>
												<h10>麥哲倫企鵝在企鵝家族中屬於中等身材，一般身高約70厘米，體重約4公斤。它們的頭部主要呈黑色，有一條白色的寬帶從眼後過耳朵一直延伸至下頜附近。麥哲倫企鵝是群居性動物，經常棲息在一些近海的小島，它們尤其喜愛選擇茂密的草叢或灌木叢中坐窩，以躲避鳥類天敵的捕殺。此外，在某些氣候較為乾燥，植被並不茂盛的地帶，如果地質較為鬆軟，麥哲倫企鵝也會挖洞做窩。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-penguin-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>