<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Snares Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://en.wikipedia.org/wiki/Snares_penguin" class="image featured" target="_blank">
                                                    <img src="images/a11_snares.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>史納爾島企鵝<br>Snares Penguin</h3center>
												</header>    
												<h10>冠企鵝屬 Eudyptes</h10><br>
												<h10>學名:  Eudyptes robustus</h10><br>
												<h10>別名: 斯島黃眉企鵝</h10><br>
												<h10>棲息地: 紐西蘭</h10><br><br>
												<h10>史納爾島體企鵝嘴巴根部是白色（裸露的粉紅色皮膚），體長 50-70 厘米（19.5-27.5 英寸），體重 2.5-4 公斤（5.5-8.8 磅）。它有深藍黑色的臉部和白色的身體。它有一條亮黃色的眉毛條紋，延伸到眼睛上方，形成一個下垂、濃密的嵴。它的大紅褐色喙的底部有裸露的粉紅色皮膚。</h10><br><br>
												<h10>史納爾島體企鵝最初於 1874 年被收集，並由Frederick Hutton命名為atrata。然而，赫頓在完整的物種形成之前繪製了這隻鳥，在海上丟失了他的樣本。赫頓所寫的描述和庫勒曼斯在布勒的《新西蘭鳥類史》中所作的插圖證明這是赫頓先前發現的同一隻企鵝。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>