<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<%- include ("../../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../../partials/loading.ejs") %>	

		<div id="page-wrapper">
			
			<!-- Penguin header -->
			<%- include ("../../partials/penguin-header.ejs") %>	


			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Yellow Eyed Penguin</h2>
									</header>
									
									<div class="row">
                                        <div class="col-4-center col-4-medium-center col-10-small-center">
                                            <section class="penguinintrobox">
                                                <a href="https://zh.wikipedia.org/wiki/%E9%BB%84%E7%9C%BC%E4%BC%81%E9%B9%85" class="image featured" target="_blank">
                                                    <img src="images/a16_yelloweyed.png" alt="" title="Go to Wikipedia"/></a>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4-center-info col-4-medium-center-info col-10-small-center-info">
											<section class="penguinintrobox">
												<header>
													<h3center>黃眼企鵝<br>Yellow Eyed Penguin</h3center>
												</header>    
												<h10>黃眼企鵝屬 Megadyptes</h10><br>
												<h10>學名: Megadyptes antipodes</h10><br>
												<!-- <h10>別名: 皇帝企鵝</h10><br> -->
												<h10>棲息地: 紐西蘭</h10><br><br>
												<h10>黃眼企鵝以往被認為是小藍企鵝的近親，但分子分析研究發現牠們更為接近冠企鵝屬。就像所有其他的企鵝，黃眼企鵝主要以魚為主食。位於奧塔哥半島的群落是著名的旅遊熱點，很多遊客會在此近距離觀賞黃眼企鵝。</h10><br><br>
												<h10>黃眼企鵝是較為大的企鵝，平均長70公分及重約6.23公斤。牠們的頭部呈淡黃色，瞳孔呈更淡的黃色，身體呈黑色。牠們的顎及喉嚨呈黑褐色。眼睛之間有一黃帶在頭後部連接。雛鳥的頭部較灰，並沒有黃帶，而瞳孔亦是呈灰色的。黃眼企鵝可以很長壽，有些可達20歲。雄鳥一般較雌鳥長壽，介乎10-12歲的年齡中，雄鳥數目就是雌鳥的兩倍。</h10><br><br>
											</section>    
										</div>    
									</div>

									<div id="editicon">
										<a href="/add-pengins-photo"><img src="images/edit.png" alt="" title="Add penguin photo"/></a>
									</div>
                                    
									<!-- Penguin photo-->
									<%- include ("../../partials/penguin-photo.ejs") %>
									                
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

			<!-- Penguin Footer -->
			<%- include ("../../partials/penguin-footer.ejs") %>	
			
		

	</div>

	<!-- Scripts -->
	<%- include ("../../partials/scripts.ejs") %>	
</body>
</html>