<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | Caitlin</title>
		<%- include ("../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../partials/loading.ejs") %>	

		<div id="page-wrapper">

			<!-- Penguin header -->
			<%- include ("../partials/penguin-header.ejs") %>	

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>Caitlin</h2>
									</header>

									<div class="row">

										<!-- message -->
											<div class="col-12 col-12-medium col-12-small">
												<section class="box">
													<header>
														<h3>My Value System</h3>
														<h12>2022-01-21</h12>
													</header>
													<p>A person of maturity.<br>To my point. There are three keys of maturity for a person.</p>
													<p>The first is growth mindset instead of fixed mindset. Growth mindset can give you all the courage to pursue your goals and to learn new skills. Opening your heart to accept the new knowledge. Nurture is more important than nature. Always remember, difficulty just means not yet!</p>
													<p>The second is pluralistic thinking instead of binary thinking. The core of having pluralistic thinking is empathy. Put yourself in other's shoes. There are different standpoints influenced by different person or situations. The world can't not be judged as either True or False.</p>
													<p>The third is altruism instead of egoism. When given the choice between being right or being kind, choose kind. Cleverness is a gift, kindness is a choice. Always stay positive and kind heart. The effect is unimaginable.</p>
												</section>
											</div>
										

									</div>
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%- include ("../partials/footer.ejs") %>	

		

	</div>

	<!-- Scripts -->
	<%- include ("../partials/scripts.ejs") %>	

</body>
</html>