<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	Design by Caitlin
-->
<html>
	<head>
		<title>Penguin Cabin | News</title>
		<%- include ("../partials/header.ejs") %>	
	</head>
	<body class="homepage is-preload">

		<%- include ("../partials/loading.ejs") %>	
		
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a id="goToHome" href="/">Penguin Cabin</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a id="goToPenguin" href="/">Penguins</a></li>
								<li><a id="goToMap" href="/map">Map</a></li>
								<li class="current"><a id="goToNews" href="/news">News</a></li>
								<li><a id="goToMessage" href="/message">Message</a></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>News of world Penguins</h2>
									</header>

									<div id="editicon">
										<a id="goToOtherPage" href="/add-news"><img src="images/edit.png" alt="" title="Add Penguins News"/></a>
									</div>
									
									<div class="row">


										<!-- news -->
										<% for(let i = 0; i < news.length; i++) { %>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a class="image featured"><img src="<%= news[i][2]%>" alt="Image not found…" title='<%= news[i][4]%>' /></a>
													<header>
														<h3><%= news[i][0]%></h3>
													</header>
													<p><%= news[i][3]%></p>
													<footer>
														<ul class="actions">
															<li><a href="<%= news[i][1]%>" target="_blank" class="button alt">Check it out</a></li>
														</ul>
													</footer>
												</section>
											</div>
										<% } %>



									</div>
								</section>

						</div>
						<div class="col-12">


						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
		<%- include ("../partials/footer.ejs") %>	

		

	</div>

	<!-- Scripts -->
	<%- include ("../partials/scripts.ejs") %>	

</body>
</html>